{% extends "blog/base.html" %}

{% block title %}About{% endblock %}

{% block content %}
	<h1>About</h1>
	<p>Here's some information about various things</p>
	<h2>Me</h2>
	<p>
		I'm Sam Heney, a graduate of Abertay University with a first class BSc with Honours in Ethical hacking.
		I have particular interests in linux, ctfing, blue team stuff and python, but I enjoy most technical subjects equally.
	</p>
	<p>
		My free time is spent mostly either tinkering with my homelab or making music. You can also find me attending a fair amount of security conferences, mostly in the UK. At least, when COVID isn't about.
	</p>
	<p>
		Find me here:
		<ul>
			<li>Twitter: <a href="https://twitter.com/Sam1ser">@Sam1ser</a></li>
			<li>Github: <a href="https://github.com/Samiser">Samiser</a></li>
			<li>Linkedin: <a href="https://www.linkedin.com/in/samiser/">Sam Heney</a></li>
			<li>Email: <a href="mailto: me@samiser.xyz">me@samiser.xyz</a></li>
		</ul>
	</p>
	<h2>This Site</h2>
	<p>
		This website is running Django with Gunicorn and Nginx.
		All of the Django code for this website was written by me.
		The Nginx and Gunicorn setup was also all done by hand.
		It's being hosted on my homelab in a proxmox container running Debian. 
		For more in depth info you can pm me on twitter.
	</p>
{% endblock %}
