{% extends "blog/base.html" %}

{% block title %}About{% endblock %}

{% block content %}
	<h1>About</h1>
	<p>Here's some information about various things</p>
	<h2>Myself</h2>
	<p>
		I'm Sam Heney, a student at Abertay University studying Ethical hacking.
		I'm currently secretary of the Ethical Hacking society at Abertay.
		I have particular interests in networking and python, but I enjoy most technical subjects equally.
	</p>
	<p>
		My free time is spent mostly either tinkering with my homelab or making music. You can also find me attending a fair amount of security conferences, mostly in the UK.
	</p>
	<p>
		Find me here:
		<ul>
			<li>Twitter: <a href="https://twitter.com/Sam1ser">@Sam1ser</a></li>
			<li>Github: <a href="https://github.com/Samiser">Samiser</a></li>
			<li>Soundcloud: <a href="https://soundcloud.com/samiser">Samiser</a></li>
			<li>Email: <a href="mailto: me@samiser.xyz">me@samiser.xyz</a></li>
		</ul>
	</p>
	<h2>This Site</h2>
	<p>
		This website is running Django with Gunicorn and Nginx.
		All of the Django code for this website was written by me.
		The Nginx and Gunicorn setup was also all done by hand.
		It's being hosted on my homelab in a proxmox container running Debian 9. 
		For more in depth info you can pm me on twitter.
	</p>
{% endblock %}
