{% extends "blog/base.html" %}
{% load blog_tags %}

{% block title %}Blog{% endblock %}

{% block content %}
	<h1>Blog</h1>
	<p>This is my blog. I've written {% total_posts %} posts so far.</p>
	{% for post in posts %}
		<hr>
		<h2 class=title>
			<a href="{{ post.get_absolute_url }}">
			{{ post.title }}
			</a>
		</h2>
		<p class="date">
			Published {{ post.publish }} by {{ post.author }}
		</p>
		{{ post.body|truncatewords:15|linebreaks }}
	{% endfor %}
	<hr>
	{% include "blog/pagination.html" with page=page_obj %}
{% endblock %}
